*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 2vw 2vw;
}
/* #page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(38, 189, 240);
} */
nav{
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-part2{
    display: flex;
    align-items: center;
   gap: 1vw;
   position: relative;
   
}
.nav-part2 h4{
    padding: 10px 20px;
    border: 2px solid #dfd8d8;
    border-radius: 50px;
    font-weight: 500;
    color: #000000a3;
    font-size: 18px;
    position: relative;
    
   
    overflow: hidden;
}

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 30%;
    transition: all ease 0.4s;
    
} 
.nav-part2 h4:hover::after{
    bottom: 0;
}
.nav-part2 a{
    
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}
.nav-part2 h4 a:hover{
    color: #EFEAE3;
}
#center{
    height: 70vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 204, 204);
    padding-bottom: 1.5vw;
    padding: 2vw 2vw;
}

 .left h3{
    width: 25vw;
    font-size: 1.9vw;
    line-height: 2vw;
    
 }
 #center h1{
    font-size: 10vw;
    text-align: center;
    text-align: right;
    line-height: 8vw;
 }
